table {
    width: 100%;
  }
 tr > th:nth-child(odd){
  /* background: lightgray; */
  background: #DCDCDC;
}
 tr > th:nth-child(even){
  background: #E9E9E9;
}
tr > td:nth-child(even){
  /* background: rgba(218, 240, 248,1); */
  background: rgba(245, 245, 245, 1);
}
tr > td:nth-child(odd){
  /* background:rgba(230, 230, 230,1); */
 background: #EDEDED;
}
tr td{
  text-align: center;
}
tr th{
  border-bottom: 2px solid gray !important;
  text-align: center;
  padding: 2px;
}
th{
  text-align: center;
}
.redColor{
  background: red !important;
  color:#fff;
}
.wrap-button button{
  color:#fff;
  margin:10px;
}
.wrap-button button.archion_button{
  background: lightslategray;
}
.wrap-button button.archion_button:hover{
  background: gray;
}
.wrap-button button.excel_button{
  background: #673ab7;
}
.wrap-button button.excel_button:hover{
  background: rgba(80, 26, 172,1);
}
.wrap-filter-button{
  display: flex;
  justify-content: space-between;
}
.scrap-checkbox{
  margin: auto;
  flex-grow: 1;
}

.filter-wrap{
  margin-right: 3em;
}
button.chartButton{
  background: #22b9ca;
}
.newDmr{
  background: #f0b7a4 !important;
  color:#fff;
}