table {
    width: 100%;
  }
 tr > th:nth-child(odd){
  background: lightgray;
}
 tr > th:nth-child(even){
  background: lightblue;
}
tr > td:nth-child(even){
  background: rgba(218, 240, 248,1);
}
tr > td:nth-child(odd){
  background:rgba(230, 230, 230,1);
}
tr td{
  text-align: center;
}
tr th{
  border-bottom: 2px solid gray;
  text-align: center;
  padding: 2px;
}
th{
  text-align: center;
}
.redColor{
  background: red !important;
  color:#fff;
}
.archion-button button{
  background: lightslategray;
  color:#fff;
}
.wrap-filter-button{
  display: flex;
  justify-content: space-between;
}