.wrap-buttons{
    display:flex;
    justify-content: space-around;
}
.wrap-buttons div > button{
    background: rgb(98,150,190);
}
.wrap-buttons div > button  a{
    color: #fff;
}
.dmr-header{

}
.dmr-content{
    border: 1px solid gray;
    min-height: 70vh;
    margin: 10px 0;
}