.wrap-buttons{
    display:flex;
    justify-content: flex-start;
}
.wrap-buttons .button-element{
    margin:10px;
}
.wrap-buttons div > button{
    background: rgba(31, 94, 210,1);
}
.wrap-buttons div > button  a{
    color: #fff;
}
