<div class="wrap-component">
  <div class="dmr-header">
    <div class="wrap-buttons">
      <div class="button-element">
        <!-- <button mat-flat-button> -->
          <a [routerLink]="['dmrByDepartment']" mat-flat-button>Department</a>
        <!-- </button> -->
      </div>
      <div class="button-element">
        <!-- <button mat-flat-button> -->
          <a [routerLink]="['dmrByJet']" mat-flat-button>Jet</a>
        <!-- </button> -->
      </div>
      <div class="button-element">
        <!-- <button mat-flat-button> -->
          <a [routerLink]="['dmrByWaitingFor']" mat-flat-button>Waiting for</a>
        <!-- </button> -->
      </div>
    </div>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>