.title{
    text-align: center;
    position: relative;
}
.title h2{
    color:#222;
    text-shadow: 0px 2px 3px #555;
}
.spinner{
    position: absolute;
    left: 50%;
    top: -35%;
}
.noData{
    text-align: center;
    font-size: 20px;
}
.wrap-record-component{
    padding: 10px;
}
.wrap-date{
    display: flex;
    justify-content: space-evenly;
    margin: 3em 3em 0 3em;
}
.wrap-form-button{
    width:100%;
    position: relative;
}
.wrap-form-button button{
    margin: 10px auto;
    display: block;
}
form{
    border: 1px solid lightgrey;
}
.wrap-form{
    background: beige;
}
.mat-flat-button{
    background: rgb(15,79,128);
    color:#fff;
}