.wrap-form{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}
section, mat-radio-group{
    display: inline-flex;
    flex-direction: column;
}
.wrap-form-block{
    margin:10px;
    padding: 10px;
}
.margin-right{
    margin-right:30px;
}
.section-margin{
    display: flex;
}
.section-margin > section {
    flex-grow: 1;
}
.section-margin :nth-child(1){
   flex-grow: 0;
}
.section-margin > section{
   margin-right:2em;
}
.title-block{
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline;
    margin: 10px;
}
.wrap-form-button{
    width:100%;
}
.wrap-form-button button{
    margin: auto;
    display: block;
}
.wrapJetCheckbox{
    display: flex;
    flex-direction: row;
}
.wrapJetCheckboxBlock{
    display: flex;
    flex-direction: column;
    margin-right: 2em;
}
.wrap-checkbox-section{
    display: inline-block;
}
.wrap-checkbox-section mat-checkbox{
    margin: 1.5em;
}
.wrap-hidden-block{
    margin: 20px 0;
}
.displayNone{
    display: none;
}
.jet-block{
    flex-direction: row;
}
.wrap-accordion-jet, .jetForm{
    width:100%;
}
.margin-accordion{
    margin: 10px 0;
}
.wrap-checkbox-jet{
    display: flex;
    flex-direction: column;
}
.wrapJetCheckboxFirstChild{
    flex-grow: 1 !important;
}
.wrapJetCheckboxSecondChild{
    flex-grow: 2;
}
.wrap-checkbox-jet > div > mat-checkbox{
    margin-right: 10em;
}
.option-selectAll{
    background: #bfbfbf;
}
.select-deselct-buttons{
    display: flex;
    justify-content: space-around;
    margin: 15px;
}