<div class="wrap-component">
  <form [formGroup]="editForm" *ngIf="editForm" (ngSubmit)="onSubmit()">
    <div class="wrap-create-menu">
        <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title></mat-panel-title>
                <mat-panel-description>Create Menu</mat-panel-description>
              </mat-expansion-panel-header>
              <div formGroupName="menu" class="wrap-form-block">
                  <label>
                    <div class="title-block">Create Menu</div>
                      <section class="wrap-checkbox-section">
                          <mat-checkbox  
                            *ngFor="let menu of createMenuFrom" 
                            formControlName="{{menu.controlname}}" 
                            labelPosition="after" 
                            color="primary"
                            (change)="toggleVisibility(menu.controlname,$event)"
                            checked="{{menu.checked}}">
                              {{menu.label}}
                            </mat-checkbox>
                        </section>
                  </label>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div class="wrap-form">
      <!--Show/Hidden blocks ---start-->
      <div class="wrap-form-block dmr-block" *ngIf="dmr">
        <label>
          <div class="title-block">Show Dmr's By: </div>
          <div class="section-margin">
              <section>
                  <mat-radio-group formControlName="showDmrBy">
                      <mat-radio-button 
                        *ngFor="let showby of showDmrsBy"  
                        value="{{showby}}"
                        color="primary"
                        (change)="radioChange($event)">
                          {{showby}}
                        </mat-radio-button>
                  </mat-radio-group>
              </section>
              <section formGroupName="Jet" *ngIf="viewRadioBlock === 'Jet'" class="wrapJetCheckbox">
                <div *ngFor="let jet of jetsArr" class="wrapJetCheckboxBlock">
                  <mat-checkbox
                    *ngFor="let checkboxjet of jet" 
                    formControlName="{{checkboxjet.controlname}}" 
                    labelPosition="after" 
                    color="primary">
                      {{checkboxjet.label}}
                  </mat-checkbox>
                </div>
              </section>
              <section formGroupName="Department" *ngIf="viewRadioBlock === 'Department'">
                      <mat-checkbox
                          *ngFor="let department of departments" 
                          formControlName="{{department.controlname}}" 
                          labelPosition="after" 
                          color="primary">
                            {{department.label}}
                      </mat-checkbox>
              </section>
          </div>
        </label>
      </div>
      <div class="wrap-form-block swr-block" *ngIf="swr">
        <label>
            <div class="title-block">Show Swr's By: </div>
        </label>
      </div>
      <div class="wrap-form-block esp-block" *ngIf="esp">
          <label>
              <div class="title-block">Show Esp's By: </div>
          </label>
      </div>
      <!--Show/Hidden blocks ----end-->

    </div>
    <div class="wrap-form-button">
      <button 
      mat-flat-button 
      color="primary" 
      type="submit" 
      [disabled]="!editForm.valid">
        Save
    </button>
    </div>
  </form>
</div>
<div>
</div>
