.header-app{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 100px;
    background: #003da7;
    color: #fff;
    box-shadow: 0 0 14px rgba(0,0,0,0.9);
}
.img_profile img{
    height: 115%;
    width: 35%;
    border-radius: 50%;
    box-shadow: 0 0 14px rgba(0,0,0,0.9);
}
.side-bar{
    background: #003da7;
    height: calc(100vh - 100px);
    width: 130px;
    box-shadow: 5px 0 5px -5px rgba(0,0,0,0.9), inset 0 5px 7px -5px rgba(0,0,0,0.9)
}

.wrap_content{
    display: flex;
}
.content{
    width: calc(100% - 130px);
}
.wrap-buttons button{
    margin:10px;
}
