<div>
  <div class="header-app">
    <div class="img_profile">
      <!-- <img src="../../assets/img/images.jpg"> -->
      <img [src]="imgSrc" />
    </div>
    <div>
      <h1>Hello {{userDetails[0]}}</h1>
    </div>
    <div class="wrap-buttons">
      <a [routerLink]="['editprofile']">
        <button mat-flat-button matTooltip="Edit profile" [matTooltipPosition]="position.value">
          <mat-icon>edit</mat-icon>
        </button>
      </a>
      <button mat-flat-button (click)="logout()" matTooltip="LogOut" [matTooltipPosition]="position.value">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </div>
  <div class="wrap_content">
    <mat-drawer-container class="example-container" autosize>
      <mat-drawer #drawer class="example-sidenav" mode="side" opened>
        <div class="side-bar">
          <app-sidenav [userName]="username"></app-sidenav>
        </div>
      </mat-drawer>

      <button type="button" mat-icon-button class="open-close-side-button" (click)="drawer.toggle()">
          <mat-icon *ngIf="drawer.opened">arrow_back</mat-icon>
          <mat-icon *ngIf="!drawer.opened">arrow_forward</mat-icon>
      </button>
      <div class="example-sidenav-content">

        <div class="content" style="overflow:scroll; height: calc(100vh - 100px);" (scroll)="onWindowScroll($event)">
          <router-outlet></router-outlet>
          <span *ngIf="buttonToUp" class="buttonToUp" (click)="scrollToTop()">
              <mat-icon>arrow_upward</mat-icon>
          </span>
        </div>
      </div>

    </mat-drawer-container>
  </div>
</div>
<!-- 
<div style="width:100px; height:100px; overflow:scroll" (scroll)="onWindowScroll($event)">
  <div>BLA</div>
  <div>BLA</div>
  <div>BLA</div>

  <div>BLA</div>
  <div>BLA</div>
  <div>BLA</div>
  <div>BLA</div>
  <div>BLA</div>
  <div>BLA</div>
  <div>BLA</div>
  <div>BLA</div>
  <div>BLA</div>
  <div>BLA</div>
  <div>BLA</div>
  <div>BLA</div>
  <div>BLA</div>
  <div>BLA</div>

</div> -->