<div>
  <div class="header-app">
    <div>
      <img src='assets/img/limB.jpg' style="height:90%;vertical-align: text-top;">
    </div>
    <!-- <div class="img_profile">
      <img [src]="imgSrc" />
    </div> -->
    <!-- <div *ngIf="userDetails[0] != undefined">
      <h3>Welcome {{userDetails[0].split(' ')[1]}}</h3>
    </div> -->
    <div class="wrap-buttons">
      <button [routerLink]="['editprofile']" mat-icon-button matTooltip="Edit profile"
        [matTooltipPosition]="position.value" matTooltipClass="tooltipclass">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="logout()" matTooltip="LogOut" matTooltipClass="tooltipclass" [matTooltipPosition]="position.value">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </div>
  <div class="wrap_content">
    <mat-drawer-container class="example-container" autosize>
      <mat-drawer #drawer class="example-sidenav" mode="side" opened>
        <div class="side-bar" *ngIf="userDetails[0] != undefined">
          <app-sidenav [userName]="username" [profileImg]="imgSrc" [userFName]="userDetails[0].split(' ')[1]">
          </app-sidenav>
        </div>
      </mat-drawer>

      <button type="button" mat-icon-button class="open-close-side-button" (click)="drawer.toggle()">
        <mat-icon *ngIf="drawer.opened">arrow_back</mat-icon>
        <mat-icon *ngIf="!drawer.opened">arrow_forward</mat-icon>
      </button>
      <div class="example-sidenav-content">

        <div class="content" style="overflow:scroll; height: calc(100vh - 100px);" (scroll)="onWindowScroll($event)">
          <router-outlet></router-outlet>
          <span *ngIf="buttonToUp" class="buttonToUp" (click)="scrollToTop()">
            <mat-icon>arrow_upward</mat-icon>
          </span>
        </div>
      </div>

    </mat-drawer-container>
  </div>
</div>