
<div class="wrap-component">
    <div class="imgHeaderLogIn">
        <h1>D  M  R  -  F A B II</h1>
    </div>
    <div class="container ">
      <div class="log-in">
        <div class="sub-title">
          <h2>Discrepancy Material Reporting System</h2>
          <h3>FOR PROMIS USERS</h3>
      </div>
      <div class="wrap-form">
        <form [formGroup]="loginForm" class="logInForm" (ngSubmit)="onSubmit()">
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <input type="text" matInput placeholder="Username" formControlName="name">
              <mat-icon matSuffix>perm_identity</mat-icon>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="Password" formControlName="password">
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
          </p>
          <p class="wrap-button-login">
            <button mat-flat-button type="submit">Login</button>
            <span *ngIf="spinner">
                <mat-spinner></mat-spinner>
            </span>
          </p>
        </form>
      </div>
      </div>
    </div>
</div>

