<div class="wrap-component">
  <div class="imgHeaderLogIn">
    <span class="towerLogo">
      <img src='assets/img/tower.jpg'>
    </span>
  </div>
  <div class="container wrap-login">
    <div class="log-in">
      <div class="sub-title">
        <h5>Discrepancy Material Reporting System</h5>
        <h5>FOR PROMIS USERS</h5>
      </div>
      <div class="wrap-form">
        <h2>Log In</h2>
        <form [formGroup]="loginForm" class="logInForm" (ngSubmit)="onSubmit()">
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <input type="text" matInput placeholder="Username" formControlName="name">
              <mat-icon matSuffix>perm_identity</mat-icon>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="Password" formControlName="password">
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
          </p>
          <p class="wrap-button-login">
            <button mat-flat-button type="submit">Login</button>
            <span *ngIf="spinner">
              <mat-spinner></mat-spinner>
            </span>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>