<div class="wrap-sidenav">
  <div>
      <ul class="sideNavUl">
          <ng-container *ngFor="let sideNav of menuForSideNav; let i = index">
            <li *ngIf="sideNav.ischecked" matRipple>
              <a routerLink="{{sideNav.controlname}}{{sideNav.path}}">{{sideNav.label}}</a>
            </li>
        </ng-container>
      </ul>
  </div>
  <div class="imgProfile">
      <span class="welcome">Welcome, {{userFName}}</span>
      <!-- <img [src]="profileImg" /> -->
      <img src="{{profileImg}}" />
  </div>
</div>




