
    <div class="wrap-filter-button">
        <div>
            <mat-form-field class="filter-wrap">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" [(ngModel)]="filter">
              </mat-form-field>
              <button mat-icon-button matTooltip="clear filter" matTooltipClass="tooltipclass" (click)="applyFilter('')">
                <mat-icon>clear</mat-icon>
              </button>
        </div>
        <div class="wrap-button">
          <button 
            mat-raised-button 
            color="primary" 
            (click)="ExportTOExcel()" 
            class="excel_button" 
            matTooltip="Limited export data to excel, please choose all pages to export all data"
            matTooltipClass="tooltipclass">
              <mat-icon>description</mat-icon>
              Export as Excel
          </button>
        </div>
      </div>
    <ng-content></ng-content>
    <div #TABLE>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="{{obj}}" *ngFor="let obj of displayedColumns; let i = index;">
                <th mat-header-cell *matHeaderCellDef > {{obj | uppercase}} </th>
                <span *ngIf="obj == 'SN' && tableName == 'LotInfo'" matTooltip ="{{obj}}">
                  <td mat-cell *matCellDef="let element">
                      <span *ngFor="let sn of element[obj].split(';')">
                          <a href="http://esp_f2_prod/fab/esp_f2/SN_new/SNEditFrm.aspx?SNID={{sn}}" target="_blank">{{sn}}</a><br>
                      </span>
                  </td>
                </span>
                <td mat-cell *matCellDef="let element" [ngClass]="setColors(obj,element[obj])">
                  <section>{{element[obj]}}</section>
                </td>
              </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr 
              [ngClass]="rowColor(tableName, row.AREA + '-' + row.STAGE + '-' + row.RECIPE + '-' + tableName)"  
              mat-row *matRowDef="let row; columns: displayedColumns; " 
              id="{{row.AREA}}-{{row.STAGE}}-{{row.RECIPE}}-{{tableName}}"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
    </div>

