/* You can add global styles to this file, and also import other style files */



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.logInForm .mat-form-field-appearance-outline .mat-form-field-outline{
    background: #fff;
    border-radius: 10px;
}
ul li{
    list-style-type: none;
    cursor: pointer;
}
ul li a, a:hover {
  color:#fff;
}
.wrap-component{
  padding: 10px;
}
.wrap-sidenav ul{
  padding: 0;
  text-align: center;
}
td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type{
  padding-left: 0 !important;
}
td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type{
  padding-right: 0px !important;
}
.mat-drawer-container{
  width:100%;
}
button:focus {outline:0;}
.mat-tab-body-wrapper{
  min-height:50vh;
}
.mat-tab-body-content {
  padding:10px;
}
.mat-drawer-inner-container{
  background: #003da7;
  overflow: hidden !important;
}
.mat-expansion-panel-header-description{
  flex-grow: 1 !important;
}
/* .mat-expansion-panel-header{
  background: rgba(139, 176, 244,1);
}
.mat-expansion-panel-header-description{
  color:#fff;
  font-size: 20px;
} */