/* You can add global styles to this file, and also import other style files */


body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.logInForm .mat-form-field-appearance-outline .mat-form-field-outline{
    background: #fff;
    border-radius: 10px;
}
ul li{
    list-style-type: none;
    cursor: pointer;
}
ul li a, a:hover {
  color:#fff;
}
.wrap-component{
  padding: 30px 10px 10px 10px;
}
.wrap-sidenav ul{
  padding: 0;
  text-align: center;
}
td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type{
  padding-left: 0 !important;
}
td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type{
  padding-right: 0px !important;
}
.mat-drawer-container{
  width:100%;
}
button:focus {outline:0;}
.mat-tab-body-wrapper{
  min-height:50vh;
}
.mat-tab-body-content {
  padding:10px;
}
.mat-drawer-inner-container{
  background: #003da7;
  overflow: hidden !important;
}
.mat-expansion-panel-header-description{
  flex-grow: 1 !important;
}
form.logInForm label.mat-form-field-label{
  padding: 5px 0;
}
mat-checkbox.scrap-checkbox label,mat-checkbox.scrap-checkbox label div.mat-checkbox-inner-container{
  margin-bottom: 0px
}
mat-checkbox.scrap-checkbox label span.mat-checkbox-label{
  line-height: 15px;
}




table{
  width: 100%;
 }
 
 .mat-column-username {
   word-wrap: break-word !important;
   white-space: unset !important;
   flex: 0 0 28% !important;
   width: 28% !important;
   overflow-wrap: break-word;
   word-wrap: break-word;
 
   word-break: break-word;
 
   -ms-hyphens: auto;
   -moz-hyphens: auto;
   -webkit-hyphens: auto;
   hyphens: auto;
 }
 
 .mat-column-emailid {
   word-wrap: break-word !important;
   white-space: unset !important;
   flex: 0 0 25% !important;
   width: 25% !important;
   overflow-wrap: break-word;
   word-wrap: break-word;
 
   word-break: break-word;
 
   -ms-hyphens: auto;
   -moz-hyphens: auto;
   -webkit-hyphens: auto;
   hyphens: auto;
 }
 
 .mat-column-contactno {
   word-wrap: break-word !important;
   white-space: unset !important;
   flex: 0 0 17% !important;
   width: 17% !important;
   overflow-wrap: break-word;
   word-wrap: break-word;
 
   word-break: break-word;
 
   -ms-hyphens: auto;
   -moz-hyphens: auto;
   -webkit-hyphens: auto;
   hyphens: auto;
 }
 
 .mat-column-userimage {
   word-wrap: break-word !important;
   white-space: unset !important;
   flex: 0 0 8% !important;
   width: 8% !important;
   overflow-wrap: break-word;
   word-wrap: break-word;
 
   word-break: break-word;
 
   -ms-hyphens: auto;
   -moz-hyphens: auto;
   -webkit-hyphens: auto;
   hyphens: auto;
 }
 
 .mat-column-userActivity {
   word-wrap: break-word !important;
   white-space: unset !important;
   flex: 0 0 10% !important;
   width: 10% !important;
   overflow-wrap: break-word;
   word-wrap: break-word;
 
   word-break: break-word;
 
   -ms-hyphens: auto;
   -moz-hyphens: auto;
   -webkit-hyphens: auto;
   hyphens: auto;
 }
 .mat-drawer-content{
   overflow: inherit;
 }
/* .mat-tab-body-wrapper {
  height: -webkit-fill-available;
} */


/* .mat-expansion-panel-header{
  background: rgba(139, 176, 244,1);
}
.mat-expansion-panel-header-description{
  color:#fff;
  font-size: 20px;
} */


